body {
  margin: 0;
  padding: 0;
  background-image: url('Imagens/Background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}


header, footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  background-color: #ffffff;
}

.caixa {
  position: relative;
  width: calc(25% - 20px);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.caixa2 {
  position: relative;
  width: calc(15% - 10px);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.caixa:hover {
  transform: scale(1.1);
}

.caixa2:hover {
  transform: scale(1.1);
}

.caixa img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caixa2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: bottom;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  transition: background 0.3s ease;
}

.caixa:hover .overlay {
  background: linear-gradient(to bottom, rgba(25, 100, 25, 0.8), transparent);
}

.caixa2:hover .overlay2 {
  background: linear-gradient(to top, rgba(25, 100, 25, 0.8), transparent);
}

.overlay h4 {
  margin: 0 0 5px;
  font-size: 20px;
}

.overlay p {
  margin: 2px 0;
  font-size: 12px;
}

.overlay2 p {
  margin: 2px 0;
  font-size: 10px;
}

/* PARA CELULAR */
@media (max-width: 768px) {
  .caixa {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .caixa {
    width: 100%;
  }
}

.topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.topic .texto {
  flex: 1;
  text-align: justify;
}

.topic .texto h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.topic .texto p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.topic .imagem {
  flex: 1;
  display: flex;
  justify-content: center;
}

.topic .imagem1 {
  flex: 1;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.topic .imagem1:hover {
  transform: scale(1.1);
}

.topic .imagem img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .topic {
    flex-direction: column;
    text-align: center;
  }

  .topic .imagem {
    margin-top: 20px;
  }
}

section {
  padding: 5px 20px;
  max-width: 900px;
  margin: auto;
  background-color: #fff;
}

.topic1 p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

section img {
  width: 100%;
  max-width: 900px;
  display: block;
  margin: 20px auto;
}